@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Fjalla+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    height: 100px;
    background-color: #16a774;
    display: flex;
}
.nav{
   width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 20px;
}
.navbar ul{
    font-family: 'Poppins', sans-serif;

    list-style: none;
    display: flex;
    flex-direction: row;
    gap:20px;
}
.navbar ul li{

    padding: 10px;
}
.navbar h2 a{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.main{
    min-height: calc(100vh - 160px);
    background: #f5f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    height: 60px;
    background-color: #16a774;
    color: white;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
}


.conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.logo{
    width: 200px;
    height: auto;
}

.navbar ul li a.logout-teste {
    color: #C0433E;
    font-weight: bold;

}

.navbar ul li a:hover {
    background-color: #13855e;
    cursor: pointer;
    scale: 3.05;
    transition: 0.4s;
}

.navbar ul li a.logout-teste:hover {
    background-color: #13855e;
    cursor: pointer;
    scale: 1.05;
    transition: 0.4s;
}

