@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Fjalla+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    overflow-x: hidden;
}

.navbar{
    height: 100px;
    background-color: #16a774;
    display: flex;
}
.nav{
   width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 20px;
}
.navbar ul{
    font-family: 'Poppins', sans-serif;

    list-style: none;
    display: flex;
    flex-direction: row;
    gap:20px;
}
.navbar ul li{

    padding: 10px;
}
.navbar h2 a{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.main{
    min-height: calc(100vh - 160px);
}

.footer{
    height: 60px;
    background-color: #16a774;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
}