.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.title {
    margin-top: 20px;
}
.botoes{
    margin-top: 20px;
    display: flex;
    justify-content: center  ;
    gap: 20px;
    
}

.botoes a {
      text-decoration: none;
      color: white;
}

.botoes [class^="botao"]  {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 120px;
    background-color:#16a774; 
}

.botoes [class^="botao"]:hover{
    background-color: #13855e;
    cursor: pointer;
    scale: 1.05;
    transition: 0.3s;
}
