.cadastro-horario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 700px;
  
    
    margin-top: 50px;
}

.cadastro-horario h3 {
    margin-top: 50px;
    font-size: 30px;
}


.cadastro-horario form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-horario form > input{
    width: 200px;
}

form {
    width: 400px;
    margin: 30px auto;                 
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 15px;                      
}
label {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 3px;
    color: #222;
}

input, select {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 2px solid #d1d1d1;
    border-radius: 8px;
    outline: none;
    transition: .2s;
}