.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.conteudo{
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
}

.painel{
    height: 150px;
    width: 80%;
    margin-top: 10px;
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.painel div{
    height: 130px ;
    color: #555;;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.10);
}



.cadastro-horario form > input{
    width: 200px;
}

.rotas{
    display: flex;
    background-color:white ;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    width: 80%;
    height: 600px;
    gap: 30px;
    justify-content: center;
}

