.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.conteudo{
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

}

.painel{
    height: 150px;
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

.painel div{
    padding-top: 10px;
    height: 130px ;
    color: #555;;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.10);
}



.cadastro-horario form > input{
    width: 200px;
}

.rotas{
    display: flex;
    background-color:white ;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    width: 80%;
    height: 600px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    
}

.rotas > div {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 270px;
    width: 270px;
    border-radius: 15px;
    margin-bottom: 50px;
    background-color: #20b682;
    transition: all 100ms;
     box-shadow: 5px 5px 5px 5px rgb(230, 227, 227);
}

.rotas > div:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.rotas > div > h3 {
    margin-top: 20px;
    color: #183649;
    font-size: 20px;
    font-weight: 700;
   
}

.rotas > div p {
    font-size: 1rem;
    color: #f0f5f7;
    line-height: 1.5;
    margin: 8px 22px 0 22px;
    text-align: justify;
    text-align-last: left; 
    text-justify: inter-word; 
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5fcd87;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.btn:hover {
    background: #1ce264;
  
}