.container-inicial {
    
    color:#16a774;
    text-align: center;
    padding: 100px 20px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-inicial  h1 {
    font-size: 3.5em; 
    margin-top: -30px;
    font-weight: 900; 
    letter-spacing: -1px; 
    /* line-height: 1.1;  */
    color: #16a774; 
    position: relative;
    display: inline-block; 
}

.container-principal {
    height: 1000px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: -80px;
    align-items: center;
    background-color: white;
    margin-bottom: 160px;
    border-radius: 20px;
    gap: 300px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.10);
}

.blocos1 {
    padding: 30px;
    display: flex;
    height: 300px;
    width: 100%;
    gap: 50px;
    justify-content: center;
}


.bloco1 {
    background-color: #16a774;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 480px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    transition: all 100ms;

}

.bloco1 > h3{
    margin-top: 30px;
    color: #065082;
    font-size: 30px;
    font-weight: bold;
}

.bloco1 > p{
    height: 80%;
    margin-top: 20px;
    color: white;
    padding: 20px;
}

.bloco1:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.bloco2 {
    width: 90%;
    height: 450px;
    background-color: #065082;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    margin-top: -100px;
    transition: all 100ms;
}

.bloco2:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.bloco2 h3 {
    margin-top: 100px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    background-color: #FFF;
    color: #C0433E;
    padding: 12px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.destaque {
    color: #065082;
    font-weight: 900;
}

.logomarca{
    width: 100px;
    height: auto;
}

.texto{
    color: white;
}