h1 {
    margin-bottom: 20px;
}

.info {
    margin-bottom: 20px;
}
.botao-participantes {
    text-decoration: none;
    padding: 2px 6px;
    margin-top: 3px;
    background-color: #16a774;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 13px;
}

.botao-participar {
    padding: 2px 6px;
    background-color: #16a774;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 13px;
}


.lista_presenca h2{
    margin: 20px;
}

.lista-participantes table {
    margin-top: 20px;
    width: 700px;
    margin-top: 15px;
    background: white;
    border-radius: 8px;
}
.voltar a {
    text-decoration: none;
    color: white;
}
.voltar-botao{
    margin-top: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 200px;
    background-color:#16a774; 
}
