<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <div class="conteiner">
    <div class="navbar">
        <div class="nav">
        <h2><a href="{{ url_for('auth.index' ) }}" class="logo">📚 prátiCA</a></h2>
        <ul>
            {% if not current_user.is_authenticated %}
            <li><a href="{{url_for('usuario.cadastro_usuario')}}">Cadastro</a></li> 
            <li><a href="{{url_for('auth.login')}}">Login</a></li>
            {% endif %}
            <li><a href="{{ url_for('auth.logout' ) }}">Logout</a></li>
        </ul>   
        </div>
    </div>
    <div class="main">
    <div class="conteudo">
        {% include 'partials/erros.html' %}
        {% block conteudo %}
        {% endblock %}
    
    </div>
    </div>
    <div class="footer">
        Copyright © 2025 pratiCA
    </div>

    </div>
    </body>
</html>