{% extends "base.html" %} 

{%block title%} pratiCA {%endblock%}

{%block conteudo%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_usuario.css') }}">


<form action="" method="post">
    <h2>Cadastre-se</h2>
        <label for="matricula">Matricula</label>
        <input id="matricula" name="matricula" type="number" value="{{ request.form.matricula or '' }}">

        <label for="nome">Nome</label>    
        <input id="nome" name="nome" type="nome">

        <label for="senha">Senha</label>
        <input  id ="senha" name="senha"type="password">

        <label for="categoria">Categoria</label>
        <select name="categoria" id="categoria" required>
            <option value="aluno">Aluno</option>
            <option value="professor">Professor</option>
        </select>

        <label for="curso">Curso</label>
        <select name="curso" id="curso" required>
            <option value="">Selecione seu curso</option>
            {% for curso in cursos %}
                <option value="{{curso.id}}">{{curso.nome}}</option>
            {% endfor %}
        </select>


        <label for="ano">Ano</label>
        <select name="ano" id="ano" required>
            <option value="1° ano">1° ano</option>
            <option value="2° ano">2° ano</option>
            <option value="3° ano">3° ano</option>
            <option value="4° ano">4° ano</option>
        </select>

        
        <label for="turno">Turno</label>
        <select name="turno" id="turno" required>
            <option value="Matutino">Matutino</option>
            <option value="Vespertino">Vespertino</option>
        </select>
        <button type="submit">Enviar</button>
    </form>

{%endblock%}
