{% extends "base.html" %} 

{%block title%} pratiCA {%endblock%}

{%block conteudo%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_usuario.css') }}">


<form action="" method="post">
    <h2>Cadastre-se</h2>
        <label for="email">E-mail</label>
        <input id="email" name="email" type="email" required placeholder="seu@exemplo.com" value="{{ request.form.email or '' }}">

        <label for="nome">Nome</label>    
        <input id="nome" name="nome" type="nome">

        <label for="senha">Senha</label>
        <input  id ="senha" name="senha"type="password">


        <label for="curso">Curso</label>
        <select name="curso" id="curso" required>
            <option value="">Selecione seu curso</option>
            {% for curso in cursos %}
                <option value="{{curso.id}}">{{curso.nome}}</option>
            {% endfor %}
        </select>


        <label for="ano">Ano</label>
        <select name="ano" id="ano" required>
            <option value="">Selecione seu ano</option>
            {% for ano in anos %}
                <option value="{{ano.id}}">{{ano.nome}}</option>
            {% endfor %}
        </select>

        <label for="turno">Turno</label>
        <select name="turno" id="turno" required>
            <option value="">Selecione seu turno</option>
            {% for turno in turnos %}
                <option value="{{turno.id}}">{{turno.nome}}</option>
            {% endfor %}
        </select>
        <button type="submit">Enviar</button>
    </form>

{%endblock%}
