{% extends "base.html" %} 

{%block title%} pratiCA {%endblock%}

{%block conteudo%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_professor.css') }}">


<form action="" method="post">
    <h2>Cadastre-se</h2>

    <label for="matricula">Matrícula</label>
    <input id="matricula" name="matricula" type="number" required>

    <label for="nome">Nome</label>    
    <input id="nome" name="nome" type="text" required>

    <label for="senha">Senha</label>
    <input id="senha" name="senha" type="password" required>

    <label for="disciplina">Disciplina</label>
    <select name="disciplina" id="disciplina" required>
    <option value="">Selecione uma disciplina</option>
        <option value="geografia">Geografia</option>
        <option value="historia">História</option>
        <option value="matematica">Matemática</option>
        <option value="portugues">Língua Portuguesa</option>
        <option value="ciencias">Ciências</option>
        <option value="biologia">Biologia</option>
        <option value="fisica">Física</option>
        <option value="quimica">Química</option>
        <option value="ingles">Inglês</option>
        <option value="educacao_fisica">Educação Física</option>
        <option value="artes">Artes</option>
        <option value="filosofia">Filosofia</option>
        <option value="sociologia">Sociologia</option>
    </select>
    <button type="submit">Cadastrar</button>
</form>


        
    

{%endblock%}
