{% extends "base.html" %} 

{%block title%} pratiCA {%endblock%}

{% block conteudo %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_horario.css') }}">

    <div class="cadastro-horario">
        <h3>Cadastrar Horario</h3>
        <form  method="POST" action="{{url_for('horario.cadastrar_horario')}}">

            <label for="dia" >Data</label>
            <input type="date" name="dia" id="dia" min ="{{ today }}">

            <label for="horario_inicio">Horario de inicio</label>
            <input type="text" name="horario_inicio" id="horario_inicio" placeholder="00:00">

            <label for="horario_termino">Horario de término</label>
            <input type="text" name="horario_termino" id="horario_termino" placeholder="00:00">

            <label for="sala">Sala</label>
            <select name="sala" id="sala" class="sala" >
                <option value="">Escolha uma sala</option>
                    <option value="a28">A28</option>
                    <option value="a26">A26</option>
                    <option value="f12">F12</option>
                    <option value="b5">B5</option>
                    <option value="b6">B6</option>
                    <option value="m4">M4</option>
                    <input type="submit" value="Criar CA">
            </select>
            </form>
    </div>
    
{% endblock %}