{% extends "base.html" %} 

{%block title%} pratiCA {%endblock%}

{%block conteudo%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">


<div class="wrapper">
    <div class="conteudo">
        <div class="painel">
            <div>
                <h4>Total de horarios</h4>
                <h5>{{total}}</h5>
            </div>
            <div>
                <h4>Ativos Hoje</h4>
                <h5>{{hoje}}</h5>
            </div>
            <div>
                <h4>Próximo</h4>
            </div>
        </div>

       
        <!-- caixa que guarda as divs que vão redirecionar -->
        <div class="rotas">
            <!-- parte que somente professores conseguem fazer -->
            {% if current_user.categoria == "professor" %}

                <div>
                    <h3>Meus horários</h3>
                    <p>Aqui o professor vê os horários que cadastrou.</p>
                    <a href="{{url_for('horario.listar_horarios')}}" class="btn btn-primary">Horários cadastrados</a>
                </div>

                <div>
                    <h3>Cadastrar CA</h3>
                    <p>O professor pode cadastrar novos horários de CA.</p>
                    <a href="{{ url_for('horario.cadastrar_horario') }}" class="btn btn-primary">
                        Cadastrar CA
                    </a>
                </div>

            {% endif %}
            <!-- parte que somente alunos podem fazer -->
            {% if current_user.categoria == "aluno" %}

                <div>
                    <h3>CAs disponíveis</h3>
                    <p>Horários disponíveis para o aluno se inscrever.</p>
                    <a href="{{ url_for('horario.listar_horarios') }}" class="btn btn-primary">
                        CAs disponíveis
                    </a>
                </div>

                <div>
                    <h3>CAs que participarei</h3>
                    <p>Horários nos quais o aluno já está inscrito.</p>
                    <a href="{{ url_for('horario.listar_participar') }}" class="btn btn-primary">CAs futuros</a>
                </div>

            {% endif %}
        </div>
        
    </div>
</div>

{%endblock%}