{% extends "base.html" %} 

{%block title%} pratiCA {%endblock%}

{%block conteudo%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/inicial.css') }}">

<section class="container-inicial">
    <h1>Seja muito bem-vindo ao <span class="destaque">pratiCA</span>!</h1>
    <img src="{{ url_for('static', filename='css/imagens/logomarca.png') }}" alt="marca" class="logomarca">

</section>

<section class="container-principal">
    <div class="blocos1">
        <div class="bloco1">
            <h3>Inovação</h3>
            <p>Nosso sistema busca inovar a estrutura das atividades de CA</p>
        </div>
        <div class="bloco1">
            <h3>Organização</h3>
            <p>Na nossa plataforma, os horarios de CA serão organizados de maneira
                a facilitar a organização da atividade
            </p>
        </div>
        <div class="bloco1">
            <h3>Praticidade</h3>
            <p>Sistema de facil utilização e compreensão</p>
        </div>
    </div>
    <div class="bloco2">
        <h3>Vamos Começar?</h3>
        <p class= "texto">Comece agora a organizar seus horários!</p>
        <a href="{{url_for('usuario.dashboard')}}" class="btn">Começar agora</a>
    </div>
    </div>
</section>

<section class="container-final">
</section>

{%endblock%}