{% extends "base.html" %} 

{%block title%} pratiCA {%endblock%}

{%block conteudo%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/listar_horarios.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/listar_participantes.css') }}">

<div class="horarios-cadastrados">
    <h1>Horários Cadastrados</h1>
    
    <table>
        <tr>
            <th>Dia</th>
            <th>Inicio</th>
            <th>Término</th>
            <th>Sala</th>
            <th>Professor Responsável</th>
            <th>Ações</th>
        </tr>
        {% for horario in horarios %}
            <tr>
                <td>{{ horario.dias }}</td>
                <td>{{ horario.horario_inicio }}</td>
                <td>{{ horario.horario_termino }}</td>
                <td>{{ horario.sala }}</td>
                <td>{{ horario.professor.nome}}</td>
                <td class="acoes-container">
                    {% if current_user.categoria == "professor" %}
                        {% if current_user.id_usuario == horario.id_professor %}
                            <form action="{{ url_for('horario.excluir_ca') }}" method="POST">
                                <input type="hidden" name="horario_id" value="{{ horario.id_horario }}">
                                <input type="submit" value="Excluir" class="botao-excluir">
                            </form>
                        {% endif %}
                        <a href="{{ url_for('horario.listar_participantes', horario_id=horario.id_horario) }}" class="botao-participantes">Participantes</a>
                    {% elif current_user.categoria == "aluno" %}
                        {% if horarios_inscritos_ids is defined and horario.id_horario in horarios_inscritos_ids %}
                            <button class="btn" style="background-color: #d5f2dcff" disabled>Inscrito</button>
                        {% else %}
                            <form class="btn btn-participar-aluno" action="{{ url_for('horario.participar_ca') }}" method="POST">
                                <input type="hidden" name="horario_id" value="{{ horario.id_horario }}">
                                <input type="submit" value="Participar" class="botao-participar">
                            </form>
                        {% endif %}
                        <a href="{{ url_for('horario.listar_participantes', horario_id=horario.id_horario) }}" class="botao-participantes">Participantes</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Nenhum horário cadastrado.</td>
            </tr>
        {% endfor %}
    </table>
</div>

{%endblock%}
