{% extends "base.html" %} 

{%block title%} pratiCA {%endblock%}

{%block conteudo%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/listar_horarios.css') }}">

<div class="horarios-cadastrados">
    <h1>Horários Cadastrados</h1>
    
    <table>
        <tr>
            <th>Dia</th>
            <th>Inicio</th>
            <th>Término</th>
            <th>Sala</th>
            <th>Professor Responsável</th>
        </tr>
        {% for horario in horarios %}
            {% if  current_user.categoria == "professor" %}
                {% if current_user.id == horario.professor_id %}
                <tr>
                    <td>{{ horario.dias }}</td>
                    <td>{{ horario.horario_inicio }}</td>
                    <td>{{ horario.horario_termino }}</td>
                    <td>{{ horario.sala }}</td>
                    <td>{{ horario.professor.nome}}</td>
                    <td>
                        <form action="{{ url_for('horario.excluir_ca') }}" method="POST">
                            <input type="hidden" name="horario_id" value="{{ horario.id_horario }}">
                            <input type="submit" value="excluir">
                        </form>
                    </td>
             
                {% endif %}
            {% endif %}
            {% if current_user.categoria == "aluno" %}
                <tr>
                    <td>{{ horario.dias }}</td>
                    <td>{{ horario.horario_inicio }}</td>
                    <td>{{ horario.horario_termino }}</td>
                    <td>{{ horario.sala }}</td>
                    <td>{{ horario.professor.nome}}</td>
                    <td>
                        <form class="btn" action="{{ url_for('horario.participar_ca') }}" method="POST">
                            <input type="hidden" name="horario_id" value="{{ horario.id_horario }}">
                            <input type="submit" value="Participar">
                        </form>
                    </td>   
             {% endif %}

            
            
            
        </tr>
        {% else %}
        <tr>
            <td>Nenhum horário cadastrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{%endblock%}
