{% extends "base.html" %} 

{%block title%} pratiCA {%endblock%}

{%block conteudo%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/listar_horarios.css') }}">

<div class="horarios-cadastrados">
    <h1>Horários Cadastrados</h1>
    
    <table>
        <tr>
            <th>Dia</th>
            <th>Inicio</th>
            <th>Término</th>
        </tr>
        {% for horario in horarios %}
        <tr>
            <td>{{ horario.dias }}</td>
            <td>{{ horario.horario_inicio }}</td>
            <td>{{ horario.horario_termino }}</td>
        </tr>
        {% else %}
        <tr>
            <td>Nenhum horário cadastrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{%endblock%}
