{% extends "base.html" %} 

{%block title%} pratiCA {%endblock%}

{%block conteudo%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">


<form action="" method="post">

        <label for="matricula">Matricula</label>
        <input id="matricula" name="matricula" type="number" value="{{ request.form.matricula or '' }}">

        <label for="senha">Senha</label>
        <input  id ="senha" name="senha"type="password">
         <button type="submit">Enviar</button>
    </form>

{%endblock%}
